<a href="https://colab.research.google.com/github/fhendifa/Hacktive8_Latihan/blob/master/Live_Code1_Febrian_Hendifa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Perkenalan

Nama Febrian Hendifa

# Import

In [1]:
import pandas as pd

# Data Loading

In [2]:
df = pd.read_csv('NMC1-9.csv')

In [3]:
len(df)

90982

In [4]:
df.shape

(90982, 1)

In [5]:
df.head()

                   time(s);V_m;Current (A);Cycle;Cap
0;4 098;0 997;1;2                        840816667.0
1;4 096;0 998;1;2                        840816667.0
2;4 094;0 999;1;2                        840816667.0
3;4 093;0 998;1;2                        840816667.0
4;4 092;0 999;1;2                        840816667.0

In [6]:
df.tail()

                       time(s);V_m;Current (A);Cycle;Cap
90977;2 506;1 002;9;2                            77018.0
90978;2 504;1 002;9;2                            77018.0
90979;2 502;1 002;9;2                            77018.0
90980;2 5;1   002;9;2                            77018.0
90981;2 497;1 002;9;2                            77018.0

# Answer

### 1.a

### Hasil

Fungsi Perhitungan Hambatan

In [7]:
V = float(input("Masukkan nilai volt= "))
I = float(input("Masukkan nilai ampere = "))
R = V/I
print("Nilai hambatan =", R)

Masukkan nilai volt= 5.5
Masukkan nilai ampere = 4.3
Nilai hambatan = 1.2790697674418605

Fungsi Perhitungan Daya

In [8]:
V = float(input("Masukkan nilai volt= "))
I = float(input("Masukkan nilai ampere = "))
P = V*I
print("Nilai daya =", R)

Masukkan nilai volt= 5.12
Masukkan nilai ampere = 2.33
Nilai daya = 1.2790697674418605

## 1.b

## Hasil

In [16]:
R_P = 2.77
if R_P >= 2.5:
  print(f'{R_P} merupakan nilai daya')
elif R_P < 2.5:
  print(f'{R_P} merupakan nilai hambatan')

2.77 merupakan nilai daya

In [23]:
listperhitungan = ['1','1.5','2','2.5','3','3.5','4','4.5','5']
for x in listperhitungan:
  if x >= '2.5':
    print(f'{x} merupakan nilai daya')
  elif x < '2.5':
    print(f'{x} merupakan nilai hambatan')

1 merupakan nilai hambatan
1.5 merupakan nilai hambatan
2 merupakan nilai hambatan
2.5 merupakan nilai daya
3 merupakan nilai daya
3.5 merupakan nilai daya
4 merupakan nilai daya
4.5 merupakan nilai daya
5 merupakan nilai daya

## 1.c

## Hasil